<h3 class="underlined">Book Search</h3>
<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <form class="form-horizontal">
      <div class="form-group">
        <label for="isbn" class="col-xs-4 text-right">ISBN</label>
        <div class="col-xs-8">
          <input class="form-control" name="isbn" ng-model="formData.isbn" placeholder="0195153448" type="text">
        </div>
      </div>
      <div class="form-group">
        <label for="title" class="col-xs-4 text-right">Title</label>
        <div class="col-xs-8">
          <input class="form-control" name="title" ng-model="formData.title" placeholder="Classical Mythology" type="text">
        </div>
      </div>
      <div class="form-group">
        <label for="author" class="col-xs-4 text-right">Author</label>
        <div class="col-xs-8">
          <input class="form-control" name="author" ng-model="formData.author" placeholder="Mark P. O. Morford" type="text">
        </div>
      </div>
      <div class="form-group">
        <label for="location" class="col-xs-4 text-right">Location</label>
        <div class="col-xs-8">
          <input class="form-control" name="branch" ng-model="formData.branch" placeholder="1" min="0" type="number">
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-8 col-xs-offset-4">
          <button class="btn btn-primary btn-block" ng-click="search()" type="submit">Search</button>
        </div>
      </div>
    </form>
  </div>
</div>
